// out: ../css/main.css
html, body {
  height: 100%;
}

// p {
//   margin-top: 20px;
//   margin-bottom: 10px;
// }

.article {
  .lead {
    font-size: 21px;
    line-height: 30px;
  }
  small {
    font-size: 13px;
  }
  .article-body {
    font-size: 16px;
    line-height: 27px;
    margin-top: 20px;
  }
}

.article-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.article-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.house {
  .house-no-margin {
    margin: 0px;
  }
  .house-quote {
    margin-top: 12px;
  }
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.no-decoration:hover {
  text-decoration: none;
}

.top-header {
  display: table;
  width: 100%;
  height: 400px;
  padding: 80px 30px 50px 100px;
  @media (max-width: 768px) {
      padding: 80px 30px 40px 30px;
  }
}

.home-header {
  display: table;
  width: 100%;
  height: 150px;
  padding: 30px 100px 50px 100px;
  @media (max-width: 768px) {
      padding: 30px 30px 40px 30px;
  }
}

.no-padding {
  padding: 0;
}
