*.pyc
*.sqlite3
*.codekit
bin/*
include/*
lib/*
pip-selfcheck.json
.Python
.DS_Store

config.codekit
**/.sass-cache/*

leipzig/static/leipzig/images/favicon.ai

leipzig/static/leipzig/images/apple-touch-icon.png

leipzig/static/leipzig/images/favicon.png

leipzig/static/leipzig/images/logotable.png
