{% extends "base.html" %}
{% load bootstrap3 %}


{% block header_title %}
{{ article.title }}
{% endblock %}

{% block content %}

</div>
{% if article.image_link %}
  <div class="col-xs-12" style="background: url('{{ article.image_link }}') no-repeat center/cover; height: 70%; margin-bottom: 10px; margin-top: -20px">
  </div>
{% endif %}


<div class="container col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 article" >
  <h1>{{ article.title }}</h1>
  <small>Published on {{ article.published_on|date:"l, N jS" }} by {{ article.author }} ({{ article.author_country }}) {% if article.committee_tag %}about <span class="label label-material-{{ settings.app_colour }}-400">{{ article.committee_tag }}</span>{% endif %} </small>
  <h2 class="lead">
    {{ article.introduction|safe|linebreaks }}
  </h2>
  {% if article.video_embed_src %}
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" {{ article.video_embed_src|safe }}></iframe>
  </div>
  {% endif %}
  <div class="article-body">
    {{ article.text|safe|linebreaks }}
  </div>
  <p class="text-right">
    - Written by {{ article.author }}
  </p>

  {% if article.link_set.all.count >= 1 %}
    <h2>Related Links</h2>
    {% for link in article.link_set.all %}
    <a target="_blank" href="{{ link.link }}"><button type="button" name="button" class="btn btn-material-{{ settings.app_colour }}-300 col-xs-12">{{ link.button_text }}</button></a>
    {% endfor %}
  {% endif %}

  <a href="{% url 'leipzig:articles' %}"><button type="button" name="button" class="btn btn-material-{{ settings.app_colour }}-300 col-xs-12">Back to all articles</button></a>
</div>

<div class="container col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 comments" >
  {% if article.comment_set.all.count >= 1 %}
    <h2>There {{ article.comment_set.all.count|pluralize:"is,are" }} {{ article.comment_set.all.count }} comment{{ article.comment_set.all.count|pluralize }}</h2>
  {% else %}
    <h2>Be the first to start the discussion</h2>
  {% endif %}


  {% for comment in article.comment_set.all %}
    <div class="panel panel-material-{{ settings.app_colour }}-500">
      <div class="panel-heading">
        <h3 class="panel-title">{{ comment.name }}</h3><small>{{ comment.timestamp|date:"l, N jS Y" }} at {{ comment.timestamp|date:"G:i A " }}</small>
      </div>
      <div class="panel-body">
        <p>
          {{ comment.text|linebreaks }}
        </p>
      </div>
    </div>
  {% endfor %}

  {% if article.comment_set.all.count >= 1 %}
    <h2>Contribute to the debate</h2>
  {% endif %}

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-dismissable alert-success shadow-z-2">
    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
  </div>
  {% endfor %}
  {% endif %}

  <div class="panel panel-material-{{ settings.app_colour }}-500">
    <div class="panel-heading">
      <h3 class="panel-title">Comment Form</h3>
    </div>
    <div class="panel-body">
      <form action="" method="post" class="form">
          {% csrf_token %}
          <p>
            Please be constructive and respectful.
          </p>
          {% bootstrap_form form show_label=False size="large" %}
          {% buttons %}
              <button type="submit" class="btn btn-material-{{ settings.app_colour }}-500 col-xs-12 btn-lg">
                  Submit
              </button>
          {% endbuttons %}
      </form>
    </div>
  </div>


</div>


{% endblock %}
