
  <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="panel panel-material-purple-500">
        <div class="panel-heading">
           <h3 class="panel-title">{{ article.title }}</h3>
           <small>Published on {{ article.published_on|date:"l, N jS" }} by {{ article.author }}</small>
        </div>
        {% if article.image_link %}
        <div class="col-xs-12" style="background: url('{{ article.image_link }}') no-repeat center/cover; height: 150px; margin-bottom: 10px;">
        </div>
        {% endif %}
        <div class="panel-body">
            <p>
              {{ article.introduction|safe }}
            </p>
            {% if not article.external_link %}
            <a href="#"><button class="btn btn-material-purple-300 col-xs-12">Read</button></a>
            {% else %}
            <a href="{{ article.external_link }}"><button class="btn btn-material-purple-300 col-xs-12">View external link</button></a>
            {% endif %}
        </div>
      </div>
  </div>
