{% if articles %}
<div class="row article-row">
  {% for article in articles %}
  <div class="col-xs-12 col-sm-4 article-item">
      <div class="panel panel-material-{{ settings.app_colour }}-500">
        <div class="panel-heading">
           <h3 class="panel-title">{{ article.title }}</h3>
           <small>Published on {{ article.published_on|date:"l, N jS" }} by {{ article.author }}</small>
        </div>
        {% if article.image %}
        <div class="col-xs-12" style="background: url('{{ article.image.url }}') no-repeat center/cover; height: 150px; margin-bottom: 10px;">
        </div>
        {% endif %}
        <div class="panel-body">
            <p>
              {% if article.committee_tag %}<span class="label label-material-{{ settings.app_colour }}-400">{{ article.committee_tag }}</span>{% endif %} {{ article.introduction|safe }}
            </p>
            {% if not article.external_link %}
            <a href="{% url 'leipzig:article_single' article.pk %}"><button class="btn btn-material-{{ settings.app_colour }}-300 col-xs-12">Read</button></a>
            {% else %}
            <a target="_blank" href="{{ article.external_link }}"><button class="btn btn-material-{{ settings.app_colour }}-300 col-xs-12">View external link</button></a>
            {% endif %}
        </div>
        {% if article.comment_set.all.count >= 1 %}
          <div class="panel-footer">
              <small>There {{ article.comment_set.all.count|pluralize:"is,are" }} {{ article.comment_set.all.count }} comment{{ article.comment_set.all.count|pluralize }}.</small>
          </div>
        {% endif %}
      </div>
  </div>
  {% cycle "" "" "</div><div class='row article-row'>"%}
  {% endfor %}
</div>
{% endif %}
