{% extends "base.html" %}

{% block header_title %}
{{ article.title }}
{% endblock %}

{% block content %}

</div>
{% if article.image_link %}
  <div class="col-xs-12" style="background: url('{{ article.image_link }}') no-repeat center/cover; height: 70%; margin-bottom: 10px; margin-top: -20px">
  </div>
{% endif %}


<div class="container col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" >
  <h1>{{ article.title }}</h1>
  <small>Published on {{ article.published_on|date:"l, N jS" }} by {{ article.author }} ({{ article.author_country }})</small>
  <h2 class="lead">
    {{ article.introduction|safe|linebreaks }}
  </h2>
  <p class="article-body">
    {{ article.text|safe|linebreaks }}
  </p>
</div>


{% endblock %}
