{% extends "base.html" %}

{% block header_title %}
Dictionary
{% endblock %}


{% block content %}
<div class="col-md-6 col-md-offset-3">

  <div class="panel panel-material-{{ settings.app_colour }}-500">
    <div class="panel-heading">
      <h3 class="panel-title">Accomodation</h3>
    </div>
    <div class="panel-body">
      <table class="table">
       <tr><td>hostel</td><td>Hostel</td></tr>
       <tr><td>entrance</td><td>Eingang</td></tr>
       <tr><td>heater</td><td>Heizung</td></tr>
       <tr><td>terrace</td><td>Terrasse</td></tr>
       <tr><td>exit</td><td>Ausgang</td></tr>
       <tr><td>luggage</td><td>Gepäck</td></tr>
       <tr><td>reception</td><td>Rezeption</td></tr>
       <tr><td>restaurant</td><td>Restaurant</td></tr>
       <tr><td>shampoo</td><td>Shampoo</td></tr>
       <tr><td>shower</td><td>Dusche</td></tr>
       <tr><td>toilet</td><td>Toilette</td></tr>
       <tr><td>towel</td><td>Handtuch</td></tr>
       <tr><td>smoking area</td><td>Raucherbereich</td></tr>
       </table>
    </div>
  </div>


  <div class="panel panel-material-{{ settings.app_colour }}-500">
    <div class="panel-heading">
      <h3 class="panel-title">Transport and Tourism</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr><td>How do I get to the ...?</td><td>Wie komme ich zum ...?</td></tr>
        <tr><td>airport</td><td>Flughafen</td></tr>
        <tr><td>plane</td><td>Flugzeug</td></tr>
        <tr><td>bus station</td><td>Bushaltestelle</td></tr>
        <tr><td>bus/coach</td><td>Bus</td></tr>
        <tr><td>train station</td><td>Bahnhof</td></tr>
        <tr><td>central train station</td><td>Hauptbahnhof</td></tr>
        <tr><td>train</td><td>Zug</td></tr>
        <tr><td>subway/underground</td><td>U-Bahn</td></tr>
        <tr><td>city train</td><td>Stadtbahn</td></tr>
        <tr><td>taxi</td><td>Taxi</td></tr>
        <tr><td>fare</td><td>Preis</td></tr>
        <tr><td>ticket</td><td>Fahrkarte</td></tr>
        <tr><td>timetable</td><td>Fahrplan</td></tr>
        <tr><td>map</td><td>Karte</td></tr>
        <tr><td>passenger</td><td>Passagier</td></tr>
        <tr><td>cash</td><td>Bargeld</td></tr>
        <tr><td>credit card</td><td>Kreditkarte</td></tr>
        <tr><td>ID</td><td>Personalausweis</td></tr>
        <tr><td>passport</td><td>Reisepass</td></tr>
       </table>
    </div>
  </div>


  <div class="panel panel-material-{{ settings.app_colour }}-500">
    <div class="panel-heading">
      <h3 class="panel-title">Food and Drinks</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr><td>food</td><td>Essen</td></tr>
        <tr><td>drinks</td><td>Getränke</td></tr>
        <tr><td>water</td><td>Wasser</td></tr>
        <tr><td>beer</td><td>Bier</td></tr>
        <tr><td>wine</td><td>Wein</td></tr>
        <tr><td>breakfast</td><td>Frühstück</td></tr>
        <tr><td>lunch</td><td>Mittagessen</td></tr>
        <tr><td>dinner</td><td>Abendessen</td></tr>
        <tr><td>starter</td><td>Vorspeise</td></tr>
        <tr><td>main course</td><td>Hauptspeise</td></tr>
        <tr><td>dessert</td><td>Nachspeise</td></tr>
        <tr><td>enjoy your meal</td><td>Guten Appetit!</td></tr>
        <tr><td>fish</td><td>Fisch</td></tr>
        <tr><td>meat</td><td>Fleisch</td></tr>
        <tr><td>bread</td><td>Brot</td></tr>
        <tr><td>salt</td><td>Salz</td></tr>
        <tr><td>pepper</td><td>Pfeffer</td></tr>
        <tr><td>bottle</td><td>Flasche</td></tr>
        <tr><td>fork</td><td>Gabel</td></tr>
        <tr><td>spoon</td><td>Löffel</td></tr>
        <tr><td>knife</td><td>Messer</td></tr>
        <tr><td>menu</td><td>Menü</td></tr>
        <tr><td>table</td><td>Tisch</td></tr>
        <tr><td>waiter/waitress</td><td>Kellner/Kellnerin</td></tr>
       </table>
    </div>
  </div>


  <div class="panel panel-material-{{ settings.app_colour }}-500">
    <div class="panel-heading">
      <h3 class="panel-title">Small Talk</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr><td>good morning</td><td>Guten Morgen!</td></tr>
        <tr><td>good night</td><td>Gute Nacht!</td></tr>
        <tr><td>hello</td><td>hallo</td></tr>
        <tr><td>goodbye</td><td>tschüss</td></tr>
        <tr><td>How many?</td><td>Wie viele?</td></tr>
        <tr><td>How much?</td><td>Wie viel?</td></tr>
        <tr><td>yes</td><td>ja</td></tr>
        <tr><td>no</td><td>nein</td></tr>
        <tr><td>ok</td><td>ok</td></tr>
        <tr><td>please</td><td>bitte</td></tr>
        <tr><td>thank you</td><td>danke</td></tr>
        <tr><td>waiter/waitress</td><td>Kellner/Kellnerin</td></tr>
       </table>
    </div>
  </div>

  <div class="panel panel-material-{{ settings.app_colour }}-500">
    <div class="panel-heading">
      <h3 class="panel-title">Directions</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr><td>broken</td><td>kaputt</td></tr>
        <tr><td>up</td><td>hoch</td></tr>
        <tr><td>down</td><td>herunter</td></tr>
        <tr><td>far</td><td>weit</td></tr>
        <tr><td>close/near</td><td>nah</td></tr>
        <tr><td>here</td><td>hier</td></tr>
        <tr><td>there</td><td>dort</td></tr>
        <tr><td>left</td><td>links</td></tr>
        <tr><td>right</td><td>rechts</td></tr>
        <tr><td>straight on</td><td>geradeaus</td></tr>
       </table>
    </div>
  </div>

  <div class="panel panel-material-{{ settings.app_colour }}-500">
    <div class="panel-heading">
      <h3 class="panel-title">In case of an emergency</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr><td>accident</td><td>Unfall</td></tr>
        <tr><td>Call an ambulance!</td><td>Ruf einen Krankenwagen!</td></tr>
        <tr><td>Call the police!</td><td>Ruf die Polizei!</td></tr>
        <tr><td>police</td><td>Polizei</td></tr>
        <tr><td>hospital</td><td>Krankenhaus</td></tr>
        <tr><td>pharmacy</td><td>Apotheke</td></tr>
        <tr><td>doctor</td><td>Arzt</td></tr>
        <tr><td>dentist</td><td>Zahnarzt</td></tr>
        <tr><td>pain</td><td>Schmerzen</td></tr>
        <tr><td>sick/ill</td><td>krank</td></tr>
        <tr><td>Stop!</td><td>Halt!</td></tr>
        <tr><td>Help!</td><td>Hilfe!</td></tr>
        <tr><td>Fire!</td><td>Feuer!</td></tr>
        <tr><td>Where is the nearest hospital?</td><td>Wo ist das nächste Krankenhaus?</td></tr>
       </table>
    </div>
  </div>

  <div class="panel panel-material-{{ settings.app_colour }}-500">
    <div class="panel-heading">
      <h3 class="panel-title">Prompts</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr><td>Can I have ...?</td><td>Kann ich ... haben?</td></tr>
        <tr><td>Can you help me?</td><td>Können Sie mir helfen?</td></tr>
        <tr><td>Do you speak english?</td><td>Sprechen Sie englisch?</td></tr>
        <tr><td>Excellent!</td><td>Prima!</td></tr>
        <tr><td>I can't speak German.</td><td>Ich spreche kein Deutsch.</td></tr>
        <tr><td>I don't understand you.</td><td>Ich verstehe Sie nicht.</td></tr>
        <tr><td>I would like ...</td><td>Ich hätte gerne...</td></tr>
        <tr><td>What time is it?</td><td>Wie viel Uhr ist es?</td></tr>
        <tr><td>Where is the toilet?</td><td>Wo ist die Toilette?</td></tr>
        <tr><td>Where can I get ...?</td><td>Wo kann ich ... bekommen?</td></tr>
        <tr><td>Where do I pay?</td><td>Wo bezahlt man?</td></tr>
        <tr><td>Where is/are ...?</td><td>Wo ist ...?</td></tr>
       </table>
    </div>
  </div>

</div>


{% endblock %}
