{% extends "base.html" %}

{% block header_title %}
Home
{% endblock %}

{% block content %}

{% if updates %}
<div class="panel panel-material-purple-500">
    <div class="panel-heading">
        Latest Updates
    </div>
    <div class="panel-body">
      {% for update in updates %}
        {% if not update = updates.first %}<hr>{% endif %}
        <strong>{{ update.time|date:"N jS, H:i A" }}</strong> {{ update.text|safe }}
      {% endfor %}
    </div>
</div>

{% endif %}

{% if programme %}
  {% include "programme_widget.html" %}
{% endif %}

{% endblock %}
