{% extends "base.html" %}

{% block header_title %}
Home
{% endblock %}

{% block content %}

<div class="row">
  {% if updates %}
  <div class="col-sm-6">
    <div class="panel panel-material-purple-500">
        <div class="panel-heading">
            Latest Updates
        </div> <!-- .panel-heading -->
        <div class="panel-body">
          {% for update in updates %}
            {% if not update = updates.first %}<hr>{% endif %}
            <strong>{{ update.time|date:"N jS, H:i A" }}</strong> {{ update.text|safe|linebreaks }}
          {% endfor %}
        </div> <!-- .panel-body -->
    </div> <!-- .panel -->
  </div> <!-- .col-md-6 -->

  <div class="col-sm-6">
    {% endif %}

    {% if programme %}
      {% include "programme_widget.html" %}
    {% endif %}
  </div> <!-- .col-md-6 -->




</div> <!-- .row -->

<div class="clearfix">
  {% include "article_list_widget.html" %}
</div>

{% endblock %}
