{% extends "base.html" %}
{% load static from staticfiles %}

{% block header_title %}
Houses
{% endblock %}

{% block content %}
  <div class="panel panel-material-purple-500">
    <div class="panel-heading">
      <h3 class="panel-title">Houses and Kingdoms: A short explanation</h3>
    </div>
    <div class="panel-body">
      <p>
        Delegates are allocated to 15 Houses, with membership of a House corresponding to membership in a sub-cluster. Sub-clusters are the groups that spend the expert meeting together. Throughout the session, the Houses will complete a range of tasks targeted at creativity, incentivising exchange between participants, and making a contribution to a fun session atmosphere. Scores are updated every day of the session.
      </p>
      <p>
        The house with most points by the end of the session wins the House Cup.
      </p>
    </div>
  </div>
<div class="row">
  {% for house in houses %}
    {% include "house_widget.html" %}
    {% cycle "" "" "</div><div class='row'>"%}
  {% endfor %}
</div>
{% endblock %}
