{% extends "base.html" %}

{% block header_title %}
Programme
{% endblock %}

{% block content %}

  {% if programmes %}
  <div class="row">

    {% for programme in programmes %}
      <div class="col-xs-12 col-sm-4">
        {% include "programme_widget.html" %}
      </div>
      {% cycle "" "" "</div><div class='row'>"%}
    {% endfor %}
  {% else %}
  <div class="alert alert-info alert-dismissible">
    <p>
      There is no programme to be shown.
    </p>
  </div>

  {% endif %}

{% endblock %}
