{% extends "base.html" %}
{% load static from staticfiles %}

{% block header_title %}
Team
{% endblock %}

{% block content %}
{% if not team %}
  <div class="alert alert-info alert-dismissible">
    <p>
      There are no team members in the database.
    </p>
  </div>
{% endif %}

<div class="row">
{% for member in team %}
<div class="col-xs-12 col-sm-4 house">
    <div class="panel panel-material-{{ settings.app_colour }}-500">
      <div class="panel-heading">
         <h3 class="panel-title">{{ member.role }}</h3>
      </div>
      {% if member.image %}
      <div class="col-xs-12" style="background: url('{{ member.image.url }}') no-repeat center/cover; height: 300px; margin-bottom: 10px;">
      </div>
      {% endif %}
      <div class="panel-body">
        <h1>{{ member.name }}</h1>
        {% if member.tagline %}
          <blockquote class="member-quote">
            {{ member.tagline|linebreaks }}
          </blockquote>
        {% endif %}
      </div>
    </div>
</div>
{% cycle "" "" "</div><div class='row'>"%}
{% endfor %}
</div>
{% endblock %}
