{% extends "base.html" %}

{% block header_title %}
{{ topic.committee_acronym }}
{% endblock %}

{% block content %}

</div>
{% if topic.image_link %}
  <div class="col-xs-12" style="background: url('{{ topic.image_link }}') no-repeat center/cover; height: 70%; margin-bottom: 10px; margin-top: -20px">
  </div>
{% endif %}


<div class="container col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 article" >
  <h1>{{ topic.committee_name }}</h1>
  <h2 class="lead">
    {{ topic.topic|safe|linebreaks }}
  </h2>
  {% if topic.video_embed_src %}
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" {{ topic.video_embed_src|safe }}></iframe>
  </div>
  {% endif %}
  <div class="article-body">
    {{ topic.rationale|safe|linebreaks }}
  </div>
  <a href="{% url 'leipzig:topics' %}"><button type="button" name="button" class="btn btn-material-purple-300 col-xs-12">Back to all topics</button></a>
</div>


{% endblock %}
