<div class="panel panel-material-purple-500">
    <div class="panel-heading">
        <h3 class="panel-title">Latest Updates</h3>
    </div> <!-- .panel-heading -->
    <div class="panel-body">
      {% if updates %}
        {% for update in updates %}
          {% if not update = updates.first %}<hr>{% endif %}
          <strong>{{ update.time|date:"N jS, H:i A" }}</strong> {{ update.text|safe|linebreaks }}
        {% endfor %}
        {% if update_count > 2 and view == "home" %}
          <a href="{% url 'leipzig:updates' %}"><button class="btn btn-material-purple-300 col-xs-12 margin-15">View All {{ update_count }} Updates</button></a>
        {% endif %}
      {% else %}
        <p>
          There are currently no updates.
        </p>
      {% endif %}
    </div> <!-- .panel-body -->
</div> <!-- .panel -->
