<div class="panel panel-material-purple-500">
    <div class="panel-heading">
        <h3 class="panel-title">Latest Updates</h3>
    </div> <!-- .panel-heading -->
    <div class="panel-body">
      {% if updates %}
        {% for update in updates %}
          {% if not update = updates.first %}<hr>{% endif %}
          <strong>{{ update.time|date:"N jS, H:i A" }}</strong> {{ update.text|safe|linebreaks }}
        {% endfor %}
      {% else %}
        <p>
          There are currently no updates.
        </p>
      {% endif %}
    </div> <!-- .panel-body -->
</div> <!-- .panel -->
